/* header and navbar */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;800;900&display=swap");

.home ::-webkit-input-placeholder {
  color: #9a9a9a !important;
}

.home :-ms-input-placeholder {
  color: #9a9a9a !important;
}

.home ::-ms-input-placeholder {
  color: #9a9a9a !important;
}

.home ::placeholder {
  color: #9a9a9a !important;
}

.home .font-red-hat-display {
  font-family: "Red Hat Display", sans-serif !important;
}

.home .cl-light-yellow {
  color: #ff8906;
}

.home nav .navbar-brand {
  font-family: "Red Hat Display", sans-serif !important;
  font-size: 1.5rem;
  font-weight: 700 !important;
  color: #fffffe !important;
}

@media screen and (max-width: 768px) {
  .home nav .navbar-brand {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .home .abovefold {
    padding: 25px;
  }
}

@media screen and (min-width: 768px) {
  .home nav .navigation {
    margin-left: 80px;
  }
}

.home nav .navigation li {
  margin-right: 32px;
}

.home nav .navigation a {
  font-size: 16px;
  font-weight: 400 !important;
  color: #fffffe !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ff8906 !important;
}

.home nav .authentication li {
  margin-right: 38px;
}

.home nav .authentication a {
  font-size: 16px;
  font-weight: 700 !important;
}

@media screen and (min-width: 768px) {
  .home nav .authentication .cl-white {
    color: #fffffe !important;
  }
}

@media screen and (max-width: 768px) {
  .home nav .authentication .login {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .home nav .authentication .login a {
    background: #518cff;
    border-radius: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fffffe !important;
    padding: 14px 14px 14px 14px !important;
  }
}

.home nav .authentication .signup {
  background: #fffffe;
  border-radius: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #1c3055 !important;
  padding: 14px 14px 14px 14px !important;
}

.home nav .authentication .signup:hover {
  background: #ff8906;
  color: #fffffe;
}

.home .abovefold {
  background: #0f0e17;
  padding-bottom: 50px;
  height: 100%;
  width: 100%;
}

.home .abovefold .header {
  margin-top: 85px;
}

.home .abovefold .img-header {
  position: absolute;
  top: 0;
  right: -230px;
}

.home .abovefold .headline {
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 700 !important;
  line-height: 64px;
  color: #fffffe;
  font-size: 56px;
}

@media screen and (max-width: 768px) {
  .home .abovefold .headline {
    font-size: 40px;
    line-height: 46px !important;
  }
}

.home .abovefold .sub-headline {
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 400 !important;
  font-size: 26px;
  line-height: 38px;
  color: #a7a9be;
  margin-top: 30px;
  width: 75%;
}

@media screen and (min-width: 768px) {
  .home .abovefold .sub-headline {
    width: 373px;
  }
}

.home .abovefold .img-home img {
  width: 100%;
}

.home .abovefold .card {
  background: #171717;
  -webkit-box-shadow: -32px 48px 60px rgba(22, 23, 28, 0.04);
  box-shadow: -32px 48px 60px rgba(22, 23, 28, 0.04);
  border-radius: 12px;
  padding: 52px 52px 40px;
  border: none;
}

@media screen and (min-width: 768px) {
  .home .abovefold .card {
    width: 464px;
  }
}

.home .abovefold .card .form-control {
  background: #202020;
  border-radius: 8px;
  border: none;
  padding: 16px 20px;
  height: 56px;
  font-weight: 600 !important;
}

.home .abovefold .card .input-title {
  color: #494c57;
  font-size: 16px;
  margin-bottom: 12px;
}

.home .abovefold .card .btn-card {
  margin-top: 36px;
  background: #00b67a;
  border-radius: 8px;
  height: 56px;
  padding: 10px;
  color: #fffffe;
  font-size: 16px;
  font-weight: 700 !important;
}

.home .abovefold .card .award {
  font-size: 12px;
  line-height: 18px;
  color: #8d8f98;
}

.bg-putih {
  background-color: #fffffe !important;
}
.header-3-3 .modal-backdrop.show {
  background-color: #000;
  opacity: 0.6;
}

.header-3-3 .modal-item.modal {
  top: 2rem;
}

.header-3-3 {
  margin-top: 60px;
  z-index: 1;
}

.header-3-3 .navbar {
  padding: 2rem 2rem;
}

.header-3-3 .navbar-light .navbar-nav .nav-link {
  font: 300 0.875rem/1.5rem Poppins, sans-serif;
  color: #8b9caf;
  padding: 0rem 1.25rem 0rem 0rem;
  margin-right: 0;
  margin-left: 0;
}

.header-3-3 .navbar-light .navbar-nav .nav-link:hover {
  font: 500 0.875rem/1.5rem Poppins, sans-serif;
  color: #243142;
}

/* .header-3-3 .navbar-light .navbar-nav .active {
    position: relative;
    width: fit-content;
} */

.header-3-3 .navbar-light .navbar-nav .active > .nav-link,
.header-3-3 .navbar-light .navbar-nav .nav-link.active,
.header-3-3 .navbar-light .navbar-nav .nav-link.show,
.header-3-3 .navbar-light .navbar-nav .show > .nav-link {
  font-weight: 500;
}

.header-3-3 .navbar-light .navbar-toggler-icon {
  background-image: urlurl(
    "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"
  );
}

.header-3-3 .btn:focus,
.header-3-3 .btn:active {
  outline: none !important;
}

.header-3-3 .btn-fill {
  font: 500 0.875rem/1.25rem Poppins, sans-serif;
  border: 1px solid #4e91f9;
  background-color: #4e91f9;
  border-radius: 999px;
  padding: 0.75rem 1.5rem;
  transition: 0.3s;
}

.header-3-3 .btn-fill:hover {
  background-color: #6da4f9;
  border: 1px solid #6da4f9;
}

.header-3-3 .btn-no-fill {
  font: 500 0.875rem/1.25rem Poppins, sans-serif;
  color: #8b9caf;
  padding: 0.75rem 2rem;
}

.header-3-3 .btn-no-fill:hover {
  color: #243142;
}

.header-3-3 .modal-item .modal-dialog .modal-content {
  border-radius: 8px;
}

.header-3-3 .responsive li {
  padding: 1rem;
}

.header-3-3 .hr {
  padding-left: 2rem;
  padding-right: 2rem;
}

.header-3-3 .hero {
  padding: 0rem 2rem;
}

.header-3-3 .mb-img img {
  width: 100%;
}

@media (max-width: 992px) {
  .header-3-3 .mb-img img {
    width: 70%;
  }
}

.header-3-3 .left-column {
  margin-bottom: 0.75rem;
  width: 100%;
}

.header-3-3 .title-text-big h1 {
  font: 800 2.25rem / "Red Hat Display", sans-serif;
  margin-bottom: 1.25rem;
  color: #243142;
}

.header-3-3 .text-caption {
  font: 600 1rem/1.5rem "Red Hat Display", sans-serif;
  letter-spacing: 0.025em;
  color: #0f0e17;
  margin-bottom: 2.5rem;
}

.header-3-3 .btn-get {
  font: 600 1rem/1.5rem "Red Hat Display", sans-serif;
  padding: 1rem 2rem;
  border-radius: 999px;
  border: 1px solid #4e91f9;
  background-color: #4e91f9;
  transition: 0.3s;
}

.header-3-3 .btn-get:hover {
  background-color: #6da4f9;
  border: 1px solid #6da4f9;
}

.header-3-3 .btn-outline {
  font: 400 1rem/1.5rem Poppins, sans-serif;
  padding: 1rem 1.5rem;
  border-radius: 999px;
  background-color: transparent;
  border: 1px solid #a6b1be;
  color: #a6b1be;
  transition: 0.3s;
}

.header-3-3 .btn-outline:hover {
  border: 1px solid #6da4f9;
  color: #6da4f9;
}

.header-3-3 .btn-outline:hover div path {
  fill: #6da4f9;
}

.header-3-3 .btn-outline:hover div rect {
  stroke: #6da4f9;
}

.header-3-3 .right-column {
  width: 100%;
}

.header-3-3 .hero-right {
  right: 2rem;
  bottom: 0;
}

.header-3-3 .card-outer {
  padding-left: 0;
  z-index: 1;
}

.header-3-3 .card {
  transition: 0.4s;
  top: 0px;
  left: 0px;
  background-color: #ffffff;
  padding: 1.25rem;
  border-radius: 0.75rem;
  width: 100%;
  margin-top: 2.5rem;
  box-shadow: -4px 4px 10px 0px rgba(224, 224, 224, 0.25);
}

.header-3-3 .card:hover {
  top: -3px;
  left: -3px;
  transition: 0.4s;
  box-shadow: -4px 8px 15px 0px rgba(167, 167, 167, 0.25);
}

.header-3-3 .card-name {
  font: 600 1rem/1.5rem Poppins, sans-serif;
  margin-bottom: 0.25rem;
}

.header-3-3 .card-job {
  font: 300 0.75rem/1rem Poppins, sans-serif;
  color: #aaa6a6;
  margin-bottom: 0;
}

.header-3-3 .card-price-left {
  font: 500 1rem/1.5rem Poppins, sans-serif;
  margin-bottom: 0.125rem;
  color: #1b8171;
}

.header-3-3 .card-caption {
  font: 300 0.75rem/1rem Poppins, sans-serif;
  color: #aaa6a6;
  margin-bottom: 0;
}

.header-3-3 .card-price-right {
  font: 500 1rem/1.5rem Poppins, sans-serif;
  margin-bottom: 0.125rem;
  color: #ff7468;
}

.header-3-3 .btn-hire {
  font: 600 1rem/1.5rem Poppins, sans-serif;
  padding: 0.75rem 4rem;
  border-radius: 0.75rem;
  margin-bottom: 0.125rem;
  border: 1px solid #4e91f9;
  background-color: #4e91f9;
  transition: 0.3s;
}

.header-3-3 .btn-hire:hover {
  background-color: #6da4f9;
  border: 1px solid #6da4f9;
}

.header-3-3 .form {
  border-radius: 999px;
  background-color: #eef4fd;
  box-sizing: border-box;
  font-size: 14px;
  padding: 0rem 1rem;
  padding-right: 0.5rem;
  outline: none;
}

.header-3-3 .form div input[type="text"] {
  background-color: #eef4fd;
  box-sizing: border-box;
  font-size: 14px;
  padding: 0rem 0.5rem;
  outline: none;
  width: 100%;
}

.header-3-3 .center-search {
  bottom: 0.5rem;
}

@media (min-width: 576px) {
  .header-3-3 .modal-item .modal-dialog {
    max-width: 95%;
    border-radius: 12px;
  }

  .header-3-3 .navbar {
    padding: 2rem;
  }

  .header-3-3 .title-text-big {
    font-size: 3rem;
    line-height: 1.2;
  }
}

@media (min-width: 768px) {
  .header-3-3 .navbar {
    padding: 2rem 4rem;
  }

  .header-3-3 .hr {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .header-3-3 .hero {
    padding: 4rem;
  }

  .header-3-3 .left-column {
    margin-bottom: 3rem;
  }

  .header-3-3 .hero-right {
    right: 4rem;
  }

  .header-3-3 .card {
    margin-left: auto;
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .header-3-3 .navbar-light .navbar-nav .active:before {
    content: "";
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    height: 0px;
    width: 80%;
    /* or 100px */
    border-bottom: 2px solid #4e91f9;
  }

  .header-3-3 .navbar {
    padding: 2rem 6rem;
  }

  .header-3-3 .navbar-light .navbar-nav .nav-link {
    padding: 0;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .header-3-3 .navbar-light .navbar-nav .active:before {
    width: 40%;
  }

  .header-3-3 .hr {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .header-3-3 .hero {
    padding: 4rem 6rem 5rem;
  }

  .header-3-3 .left-column {
    width: 50%;
    margin-bottom: 0;
  }

  .header-3-3 .title-text-big {
    font-size: 3.75rem;
    line-height: 1.25;
  }

  .header-3-3 .right-column {
    width: 50%;
  }

  .header-3-3 .hero-right {
    right: 6rem;
  }

  .header-3-3 .card-outer {
    padding-left: 4rem;
  }

  .header-3-3 .center-search {
    left: 48%;
    top: 50%;
    bottom: auto;
    transform: translate(-48%, -50%);
  }

  .header-3-3 .form {
    width: 340px;
  }
}

@media (max-width: 1023px) {
  .header-3-3 .form div input[type="text"] {
    width: 100%;
  }
}

/* herva */
.content-3-2 .btn:focus,
.content-3-2 .btn:active {
  outline: none !important;
}

.content-3-2 {
  padding: 5rem 2rem;
}

.content-3-2 .img-hero img {
  width: 80%;
  margin-bottom: 3rem;
  z-index: 1;
}

.content-3-2 .img-hero {
  justify-content: center;
  margin-right: 0px;
}

.content-3-2 .right-column {
  width: 100%;
}

.content-3-2 .title-text {
  font: 600 1.875rem/2.25rem "Red Hat Display", sans-serif;
  margin-bottom: 2.5rem;
  letter-spacing: -0.025em;
  color: #121212;
}

.content-3-2 .title-caption {
  font: 500 1.5rem/2rem "Red Hat Display", sans-serif;
  margin-bottom: 1.25rem;
  color: #121212;
}

/* .content-3-2 h2 {
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 700 !important;
  font-size: 60px;
  line-height: 140%;
  color: #16171c;
} */

.content-3-2 .circle {
  font: 500 1.25rem/1.75rem "Red Hat Display", sans-serif;
  height: 3rem;
  width: 3rem;
  margin-bottom: 1.25rem;
  border-radius: 9999px;
  background-color: #27c499;
}

.content-3-2 .text-caption {
  font: 500 1rem/1.75rem "Red Hat Display", sans-serif;
  letter-spacing: 0.025em;
  color: #0f0e17;
}

.content-3-2 .text-caption span {
  font: 600 1rem/1.75rem "Red Hat Display", sans-serif;
  letter-spacing: 0.025em;
  color: #ff8906;
}

.content-3-2 .btn-learn {
  font: 600 1rem/1.5rem "Red Hat Display", sans-serif;
  padding: 1rem 2.5rem;
  background-color: #27c499;
  transition: 0.3s;
  letter-spacing: 0.025em;
  border-radius: 0.75rem;
}

.content-3-2 .btn:hover {
  background-color: #45dbb2;
  transition: 0.3s;
}

@media (min-width: 768px) {
  .content-3-2 .title-text {
    font: 600 2.25rem/2.5rem Poppins, sans-serif;
  }
}

@media (min-width: 992px) {
  .content-3-2 .img-hero {
    width: 50%;
    margin-bottom: 0;
    justify-content: right;
    margin-right: 25px;
  }

  .content-3-2 .right-column {
    width: 50%;
  }

  .content-3-2 .circle {
    margin-right: 1.25rem;
    margin-bottom: 0;
  }
}

/* Video */
.empty-2-2 {
  padding: 4rem 2rem 1rem;
  z-index: 2;
  position: relative;
}
.empty-2-2 .main-img {
  object-fit: cover;
  object-position: center;
  margin-bottom: 3rem;
  width: 75%;
}

.empty-2-2 .title-text {
  color: #fffffe;
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 700 !important;
  font-size: 1.875rem/2.25rem;
  margin-bottom: 1.25rem;
}

.empty-2-2 .title-text h1,
h2 {
  color: #0f0e17;
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 700 !important;
  font-size: 1.875rem/2.25rem;
  margin-bottom: 1.25rem;
}

.empty-2-2 .title-text span {
  color: #0f0e17;
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 700 !important;
  font-size: 1.875rem/2.25rem;
  margin-bottom: 1.25rem;
}

.bg-kuning {
  background-color: #ff8906;
}

.empty-2-2 iframe {
  width: 560px;
  height: 315px;
}

@media screen and (max-width: 768px) {
  .empty-2-2 iframe {
    width: 100%;
    height: 315px;
  }
}

.empty-2-2 .title-caption {
  color: #fffffe;
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 600 !important;
  margin-bottom: 4rem;
  letter-spacing: 0.025em;
  line-height: 1.75rem;
}
.empty-2-2 .btn-back {
  background-color: #27c499;
  font: 600 1.125rem/1.75rem Poppins, sans-serif;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
}
.empty-2-2 .btn-back:hover {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@media (min-width: 425px) {
  .empty-2-2 .title-text {
    font-size: 40px;
  }
}
@media (min-width: 576px) {
  .empty-2-2 {
    padding-top: 5rem;
  }
  .empty-2-2 .main-img {
    margin-bottom: 4rem;
    width: auto;
  }
}

button {
  --primary-color: #ff8906;
  --secondary-color: #fff;
  --hover-color: #e53170;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 5px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}

/* product and services */

body .content {
  background: #0f0e17;
}

body .content .content {
  padding-top: 70px;
  padding-bottom: 70px;
}

body .content .content .tagline {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  color: #ff8906;
}

body .content .content .headline {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 67px;
  color: #fffffe;
}

body .content .content .benefits {
  margin-top: 50px;
}

body .content .content .benefits .rectangle {
  width: 100%;
  /* max-height: 430px; */
  margin-top: 0px;
  margin-bottom: 2rem;
  padding: 2.5rem;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fffffe;
}

body .content .content .benefits .card {
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  background: #fffffe;
  transition: 1s ease-in-out;
  clip-path: polygon(
    30px 0%,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0% 30px
  );
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

body .content .content .benefits .card span {
  font: 800 1.1rem "Red Hat Display", sans-serif;
  /* font-weight: bold; */
  color: #ff8906;
  text-align: center;
  display: block;
  padding-top: 1em;
  /* font-size: 1em; */
}

body .content .content .benefits .card .info {
  font: 600 1rem "Red Hat Display", sans-serif;
  color: #2e2f3e;
  display: block;
  text-align: center;
  padding-top: 0.1em;
  /* font-size: 0.72em; */
  margin: 1em;
  margin-top: 1em;
}

body .content .content .benefits .card .img img {
  width: 4.8em;
  height: 4.8em;
  background: white;
  border-radius: 15px;
  margin: auto;
  margin-top: 1.7em;
}

body .content .content .benefits .card .share {
  text-align: center;
  margin-top: 1.8em;
}

body .content .content .benefits .card a {
  color: white;
  transition: 0.4s ease-in-out;
}

body .content .content .benefits .card a:hover {
  color: rgb(36, 116, 221);
  text-decoration: none;
}

body .content .content .benefits .card button {
  padding: 0.8em 1.7em;
  display: block;
  width: 100%;
  margin: auto;
  border-radius: 25px;
  border: none;
  margin-top: 2em;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: 0.4s ease-in-out;
}

body .content .content .benefits .card button:hover {
  background: #ff8906;
  color: white;
}

body .content .content .benefits .card .fancy {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

/* body .content .content .benefits .card .fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: black;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
} */

body .content .content .benefits .card .fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  /* padding-left: 3.5em; */
  display: block;
  text-align: center;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

body .content .content .benefits .card .fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #fffffe;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

body .content .content .benefits .card .fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #fffffe;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

body .content .content .benefits .card .fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #fffffe;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

body .content .content .benefits .card .fancy:hover {
  color: white;
  background: #ff8906;
  border: 2px solid #fffffe;
}

body .content .content .benefits .card .fancy:hover::before {
  width: 0.9375rem;
  background: white;
}

body .content .content .benefits .card .fancy:hover .text {
  color: white;
  /* padding-left: 2.5em; */
}

body .content .content .benefits .card .fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

body .content .content .benefits .card .fancy:hover .bottom-key-1,
body .content .content .benefits .card .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

@media (max-width: 767px) {
  body .content .content .benefits .rectangle {
    padding: 1.5rem;
  }
}

body .content .content .benefits .rectangle .btn-produk {
  font: 700 0.9rem "Red Hat Display", sans-serif;
  width: 100%;
  padding: 0.75rem 0.5rem;
  border-radius: 5px;
  color: #fffffe;
  background-color: #ff8906;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

body .content .content .benefits .rectangle .btn-produk:hover {
  background-color: #ff8906;
  border: #000 solid 3px;
  color: #0f0e17;
}

/* body .content .content .benefits .rectangle img {
  margin-top: 50px;
  height: 150px;
} */

body .content .content .benefits .rectangle .headline-benefit {
  margin-top: 40px;
  font: 700 1rem "Red Hat Display", sans-serif;
  /* font-size: 18px; */
  /* line-height: 27px; */
  /* identical to box height */
  text-align: center;
  color: #ff8906;
}

body .content .content .benefits .rectangle .subheadline-benefit {
  font: 600 0.9rem "Red Hat Display", sans-serif;
  /* font-size: 16px; */
  text-align: center;
  color: #2e2f3e;
  margin-bottom: 10px;
}

body .content .content .img-brand {
  margin-top: 50px;
}

body .content .content .img-brand img {
  margin-right: 60px;
}

@media only screen and (max-width: 768px) {
  body .content .content .img-brand img {
    margin-right: 30px;
    margin-left: 30px;
  }
}

/* Pricing */
.content-3-7 .btn:focus,
.content-3-7 .btn:active {
  outline: none !important;
}

.content-3-7 {
  padding: 5rem 2rem 7rem;
}

.content-3-7 .title-text {
  font: 800 1.875rem/2.25rem "Red Hat Display", sans-serif;
  letter-spacing: 0.05em;
  margin-bottom: 0.75rem;
  color: #fffffe;
}

.content-3-7 .caption-text {
  font: 400 1rem/1.5rem "Red Hat Display", sans-serif;
  letter-spacing: 0.025em;
  color: #a7a9be;
  margin-bottom: 0;
}

.content-3-7 .card-item {
  transition: 0.4s;
  top: 0px;
  left: 0px;
  padding: 1rem 0;
}

.content-3-7 .card-item:hover {
  top: -3px;
  left: -3px;
  transition: 0.4s;
}

.content-3-7 .card-item-outline {
  border: 1px solid #2a2e32;
  padding: 2rem 2.75rem;
  border-radius: 1rem;
}

.content-3-7 .price-title {
  font: 500 1.25rem/1.75rem "Red Hat Display", sans-serif;
  color: #fffffe;
  letter-spacing: 0.025em;
  margin-bottom: 0.75rem;
}

.content-3-7 .price-value {
  font: 500 1.75rem/2rem "Red Hat Display", sans-serif;
  letter-spacing: 0.025em;
  margin-bottom: 0.75rem;
  color: #ff8906;
}

.content-3-7 .price-duration {
  font: 400 1rem/1.5rem "Red Hat Display", sans-serif;
  margin: 0.625rem;
  color: #a7a9be;
}

.content-3-7 .price-caption {
  font: 400 1rem/1.5rem "Red Hat Display", sans-serif;
  letter-spacing: 0.025em;
  margin-bottom: 2.5rem;
  color: #a7a9be;
}

.content-3-7 .price-list .check {
  font: 400 0.875rem/1.25rem "Red Hat Display", sans-serif;
  color: #a7a9be;
  letter-spacing: 0.025em;
  margin-bottom: 1.75rem;
}

.content-3-7 .price-list .no-check {
  font: 400 0.875rem/1.25rem "Red Hat Display", sans-serif;
  color: #e1e1e1;
  letter-spacing: 0.025em;
  margin-bottom: 1.75rem;
}

.content-3-7 .span-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.75rem;
}

.content-3-7 .btn-outline {
  border: 1px solid #ff8906;
  color: #ff8906;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
  letter-spacing: 0.025em;
  border-radius: 0.5rem;
}

.content-3-7 .btn-outline:hover {
  background-color: #ff8906;
  color: #ffffff;
}

.content-3-7 .btn-fill {
  background-color: #ff8906;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 500;
  letter-spacing: 0.025em;
  border-radius: 0.5rem;
}

body .left-circle img {
  z-index: 0;
  margin-top: -250px;
  position: absolute;
  left: 0;
}

body .right-circle img {
  z-index: 1;
  margin-top: -250px;
  position: absolute;
}

.content-3-7 .btn-fill:hover {
  background-color: rgba(255, 137, 6, 0.8);
}

@media (min-width: 576px) {
  .content-3-7 .title-text {
    font: 800 2.25rem/2.5rem Poppins, sans-serif;
  }

  .content-3-7 .card-item {
    padding: 1rem;
  }
}

@media (min-width: 768px) {
  .content-3-7 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

@media (min-width: 992px) {
  .content-3-7 .caption-text {
    width: 66.666667%;
  }

  .content-3-7 .card-item {
    width: 33.333333%;
  }
}

@media (min-width: 1200px) {
  .content-3-7 {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}

/* Contact Us */

body .font-red-hat-display {
  font-family: "Red Hat Display", sans-serif !important;
}

body .cl-light-blue {
  color: #34b3ff;
}

body .contact-us {
  background: #ffffff;
  padding-top: 25px;
  padding-bottom: 90px;
}

body .contact-us .headline {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 140%;
  text-align: center;
  color: #16171c;
}

@media screen and (max-width: 768px) {
  body .contact-us .headline {
    font-size: 40px;
    line-height: 60px !important;
  }
}

body .contact-us .button {
  margin-top: 72px;
}

body .contact-us .btn-contact {
  padding: 16px 32px;
  background: #ff8906;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  body .contact-us .btn-contact {
    width: 100%;
  }
}

body .contact-us .btn-demo {
  padding: 16px 32px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #16171c;
  border: 1px solid #8d8f98;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  body .contact-us .btn-demo {
    width: 100%;
  }
}

#mengapa-kami {
  background-color: #fffffe;
}

#mengapa-kami .header-title h1 {
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 700 !important;
  line-height: 64px;
  color: #0f0e17;
}

#mengapa-kami .header-title p {
  color: #2e2f3e;
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 600 !important;
  margin-bottom: 4rem;
  letter-spacing: 0.025em;
  line-height: 1.75rem;
}

@media screen and (min-width: 768px) {
  #mengapa-kami .header-title h1 {
    font-size: 60px !important;
  }
}

/* Mengapa-Kami */
#mengapa-kami .card-grid {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}

@media screen and (max-width: 767px) {
  #mengapa-kami .card-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 991px) {
  #mengapa-kami .card-grid {
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}

#mengapa-kami .card-grid .card-mengapa-kami {
  padding: 2.5rem;
  border-radius: 3px;
  background-color: #0f0e17;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

@media screen and (max-width: 767px) {
  #mengapa-kami .card-grid .card-mengapa-kami {
    padding: 1.5rem;
  }
}

#mengapa-kami .card-grid .card-mengapa-kami p {
  color: #a7a9be;
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 600 !important;
  margin-bottom: 4rem;
  letter-spacing: 0.025em;
  line-height: 1.75rem;
  font-size: 20px;
}

#mengapa-kami .card-grid .card-mengapa-kami .card-header {
  display: flex;
  margin-bottom: 1rem;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  background-color: #0f0e17;
  color: #fffffe;
}

#mengapa-kami .card-grid .card-mengapa-kami .card-header .card-icon {
  width: 70px;
  height: 70px;
  margin-right: 1rem;
}

/* #mengapa-kami
  .card-grid
  .card-mengapa-kami
  .card-header
  .card-icon
  .card-header-title
  h1 {
  color: #0f0e17;
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 700 !important;
  font-size: 32px;
} */

/* Footer */
.footer-2-4 {
  background-color: #0f0e17;
}

.footer-bg {
  background-color: #0f0e17;
}

.footer-2-4 .list-space {
  margin-bottom: 1.25rem;
}

.footer-2-4 .list-space .footer-header a {
  font-family: "Red Hat Display", sans-serif !important;
  font-size: 1.5rem;
  font-weight: 700 !important;
  color: #fffffe !important;
  text-decoration: none;
}

.footer-2-4 .list-space h1 {
  margin-top: 20px;
  width: 50%;
  font-family: "Red Hat Display", sans-serif !important;
  font-size: 1rem;
  font-weight: 500 !important;
  color: #a7a9be !important;
}

.footer-2-4 .footer-text-title {
  font: 600 1.5rem Poppins, sans-serif;
  margin-bottom: 1.5rem;
}

.footer-2-4 .list-menu {
  color: #a7a9be;
  text-decoration: none !important;
}

.footer-2-4 .list-menu:hover {
  color: #ff8906;
}

.footer-2-4 hr.hr {
  margin: 0;
  border: 0;
  border-top: 1px solid rgba(48, 48, 48, 1);
}

.footer-2-4 .border-color {
  color: #a7a9be;
}

.footer-2-4 .footer-link {
  color: #a7a9be;
}

.footer-2-4 .footer-link:hover {
  color: #ff8906;
}

.footer-2-4 .social-media-c:hover circle,
.footer-2-4 .social-media-p:hover path {
  fill: #fffffe;
}

.footer-2-4 .footer-info-space {
  padding-top: 3rem;
}

.footer-2-4 .list-footer {
  padding: 3rem 1rem 3rem 1rem;
}

.footer-2-4 .info-footer {
  padding: 0 1rem 3rem;
}

@media (min-width: 576px) {
  .footer-2-4 .list-footer {
    padding: 5rem 2rem 3rem 2rem;
  }

  .footer-2-4 .info-footer {
    padding: 0 2rem 3rem;
  }
}

@media (min-width: 768px) {
  .footer-2-4 .list-footer {
    padding: 5rem 4rem 6rem 4rem;
  }

  .footer-2-4 .info-footer {
    padding: 0 4rem 3rem;
  }
}

@media (min-width: 992px) {
  .footer-2-4 .list-footer {
    padding: 5rem 6rem 6rem 6rem;
  }

  .footer-2-4 .info-footer {
    padding: 0 6rem 3rem;
  }
}

@media (max-width: 992px) {
  .footer-2-4 .list-space h1 {
    width: 100%;
  }
}

/* form */
.content-3-5 .btn:focus,
.content-3-5 .btn:active {
  outline: none !important;
}

.content-3-5 .centered {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content-3-5 .title-text {
  font: 600 1.875rem/2.25rem Poppins, sans-serif;
  margin-bottom: 0.75rem;
}

.content-3-5 .caption-text {
  font: 400 0.875rem/1.75rem Poppins, sans-serif;
  color: #a8adb7;
}

.content-3-5 .input-label {
  font: 500 1.125rem/1.75rem Poppins, sans-serif;
  color: #39465b;
}

.content-3-5 .div-input {
  font: 300 1rem/1.5rem Poppins, sans-serif;
  padding: 1rem 1.25rem;
  margin-top: 0.75rem;
  border-radius: 0.75rem;
  border: 1px solid #cacbce;
  color: #2a3240;
  transition: 0.3s;
}

.content-3-5 .div-input:focus-within {
  border: 1px solid #2ec49c;
  color: #2a3240;
  transition: 0.3s;
}

.content-3-5 .div-input input::placeholder {
  color: #cacbce;
  transition: 0.3s;
}

.content-3-5 .div-input:focus-within input::placeholder {
  color: #2a3240;
  outline: none;
  transition: 0.3s;
}

.content-3-5 .div-input .icon-toggle-empty-3-5 path,
.content-3-5 .div-input:focus-within .icon path {
  transition: 0.3;
  fill: #2ec49c;
  transition: 0.3s;
}

.content-3-5 .input-field {
  font: 300 1rem/1.5rem Poppins, sans-serif;
  width: 100%;
  background-color: #fcfdff;
  transition: 0.3s;
}

.content-3-5 .input-field:focus {
  outline: none;
  transition: 0.3s;
}

.content-3-5 .forgot-password {
  font: 400 0.875rem/1.25rem Poppins, sans-serif;
  color: #cacbce;
  transition: 0.3s;
  text-decoration: none;
}

.content-3-5 .forgot-password:hover {
  color: #2a3240;
}

.content-3-5 .btn-fill {
  font: 500 1.25rem/1.75rem Poppins, sans-serif;
  background-image: linear-gradient(
    rgba(91, 203, 173, 1),
    rgba(39, 194, 153, 1)
  );
  padding: 0.75rem 1rem;
  margin-top: 2.25rem;
  border-radius: 0.75rem;
  transition: 0.5s;
}

.content-3-5 .btn-fill:hover {
  background-image: linear-gradient(#2ec49c, #2ec49c);
  transition: 0.5s;
}

.content-3-5 .bottom-caption {
  font: 400 0.875rem/1.25rem Poppins, sans-serif;
  margin-top: 2rem;
  color: #2a3240;
}

.content-3-5 .green-bottom-caption {
  color: #2ec49c;
  font-weight: 500;
}

.content-3-5 .green-bottom-caption:hover {
  color: #2ec49c;
  cursor: pointer;
  text-decoration: underline;
}

/* testimoni */

body .img-testimoni {
  z-index: -1 !important;
  right: 0 !important;
  position: absolute;
  margin-top: 42px;
  margin-right: 68px;
}

body .testimoni {
  /* padding-top: 50px; */
  padding-bottom: 50px;
}

body .testimoni h1 {
  color: #232323;
  font-weight: 700 !important;
}

@media screen and (min-width: 768px) {
  body .testimoni {
    padding-bottom: 188px;
  }

  body .testimoni h1 {
    font-size: 60px !important;
  }
}

@media screen and (min-width: 768px) {
  body .testimoni .container {
    padding-top: 70px;
  }

  body .testimoni .container h1 {
    width: 722px;
    font-size: 60px;
    line-height: 90px !important;
  }
}

body .testimoni .container h1 {
  line-height: 50px;
  font-weight: 700 !important;
}

body .testimoni .container .testi-text {
  line-height: 28px;
  color: #9c9c9c;
}

@media screen and (min-width: 768px) {
  body .testimoni .container .testi-text {
    width: 500px;
  }
}

body .testimoni .container .card {
  border-radius: 28px;
  border: none !important;
  -webkit-box-shadow: 20px 8px 18px rgba(178, 177, 255, 0.05);
  box-shadow: 20px 8px 18px rgba(178, 177, 255, 0.05);
}

body .testimoni .container .card p {
  color: #9c9c9c;
}

body .cl-black {
  color: black !important;
}

body .cl-orange {
  color: #ff9900;
}

body .cl-dusty-grey {
  color: #9c9c9c;
}

body .place .img-place-header {
  width: 100% !important;
}

/* form */

body .form {
  /* padding-top: 50px; */
  padding-bottom: 50px;
}

body .form h1 {
  color: #232323;
  font-weight: 700 !important;
}

@media screen and (min-width: 768px) {
  body .form {
    padding-bottom: 100px;
  }

  body.form h1 {
    font-size: 60px !important;
  }
}

@media screen and (min-width: 768px) {
  body .form .container h1 {
    width: 722px;
    font-size: 60px;
    line-height: 90px !important;
  }
}

body .form.container h1 {
  line-height: 50px;
  font-weight: 700 !important;
}

body .form .container .testi-text {
  line-height: 28px;
  color: #9c9c9c;
}

@media screen and (min-width: 768px) {
  body .form.container .testi-text {
    width: 500px;
  }
}

body .form .container .card {
  border-radius: 28px;
  border: none !important;
  -webkit-box-shadow: 20px 8px 18px rgba(178, 177, 255, 0.05);
  box-shadow: 20px 8px 18px rgba(178, 177, 255, 0.05);
}

body .form.container .card p {
  color: #9c9c9c;
}

body .cl-black {
  color: black !important;
}

body .cl-orange {
  color: #ff9900;
}

body .cl-dusty-grey {
  color: #9c9c9c;
}

body .place .img-place-header {
  width: 100% !important;
}

.btn-form {
  font: 800 1.25rem/1.75rem Poppins, sans-serif;
  background-image: linear-gradient(
    rgba(91, 203, 173, 1),
    rgba(39, 194, 153, 1)
  );
  padding: 0.75rem 1rem;
  margin-top: 2.25rem;
  border-radius: 0.75rem;
  transition: 0.5s;
  max-width: 20%;
}

.btn-form:hover {
  background-image: linear-gradient(#2ec49c, #2ec49c);
  transition: 0.5s;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}
/* 
.card img {
    height: 450px;
} */

/* testimoni */
.carousel .carousel-item {
  color: #999;
  overflow: hidden;
  min-height: 120px;
  font-size: 13px;
}
.carousel .carousel-item .testi-caption {
  font: 300 1rem/1.5rem "Red Hat Display", sans-serif !important;
  margin-bottom: 1rem;
  color: #a7a9be;
}
.carousel .media img {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 0 15px 0 60px;
  position: relative;
}
.carousel .testimonial::before {
  content: "\201C";
  font-family: Arial, sans-serif;
  color: #e2e2e2;
  font-weight: bold;
  font-size: 68px;
  line-height: 54px;
  position: absolute;
  left: 15px;
  top: 0;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #ff8906;
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li,
.carousel-indicators li.active {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 1px 3px;
  box-sizing: border-box;
}
.carousel-indicators li {
  background: #e2e2e2;
  border: 4px solid #fff;
}
.carousel-indicators li.active {
  color: #fff;
  background: #1c47e3;
  border: 5px double;
}

/* karikatur */
.karikatur .card-grid {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}

@media screen and (max-width: 767px) {
  .karikatur .card-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 991px) {
  .karikatur .card-grid {
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}

.karikatur .card-grid .card-karikatur {
  padding: 1.5rem;
  border-radius: 3px;
  border: black 2px solid;
  background-color: #fffffe;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

@media screen and (max-width: 767px) {
  .karikatur .card-grid .card-karikatur {
    padding: 1.5rem;
  }
}

.karikatur .card-grid .card-karikatur h1 {
  color: #0f0e17;
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 600 !important;
  /* margin-bottom: 4rem; */
  letter-spacing: 0.025em;
  line-height: 1.75rem;
  font-size: 20px;
}

.karikatur .card-grid .card-karikatur span {
  color: #ff8906;
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 600 !important;
  /* margin-bottom: 4rem; */
  letter-spacing: 0.025em;
  line-height: 1.75rem;
  font-size: 20px;
}

.karikatur .card-grid .card-karikatur .card-header {
  display: flex;
  margin-bottom: 1rem;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  background-color: #fffffe;
  color: #0f0e17;
  border-bottom: none;
}

.karikatur .card-grid .card-karikatur .card-header .card-icon {
  width: 70px;
  height: 70px;
  margin-right: 1rem;
}

.karikatur p {
  font: 600 1rem/1.5rem "Red Hat Display", sans-serif;
  margin-bottom: 1rem;
  color: #2e2f3e;
}

.karikatur span {
  font: 600 1rem/1.5rem "Red Hat Display", sans-serif;
  margin-bottom: 1rem;
  color: #ff8906;
}

.karikatur img {
  width: 100px;
}
.all {
  align-items: center !important;
}

.karikatur hr {
  margin-top: 0px;
  height: 0.5px;
}

/* pricing */
body .plans {
  background: #fafafd;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 1 !important;
  position: relative;
}

body .plans .headline {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 140%;
  text-align: center;
  color: #16171c;
}

@media screen and (max-width: 768px) {
  body .plans .headline {
    font-size: 40px;
    line-height: 60px !important;
  }
}

body .plans .explain {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #494c57;
  margin-top: 32px;
}

body .plans .offer {
  margin-top: 90px;
}

body .plans .offer .free {
  padding: 40px 32px;
  width: 297px;
  background: #ffffff;
  border-radius: 12px;
  height: 500px;
}

body .plans .offer .free .text-free {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #16171c;
}

body .plans .offer .free .price {
  margin-top: 20px;
  font-weight: 600;
  font-size: 32px;
  line-height: 160%;
  color: #16171c;
}

body .plans .offer .free .price .normal-text {
  font-weight: 400;
  font-size: 16px;
}

body .plans .offer .free .benefits {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  color: #8d8f98;
}

body .plans .offer .free .features {
  margin-top: 40px;
}

body .plans .offer .free .features .detail {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #494c57;
  margin-top: 20px;
}

body .plans .offer .free .btn-free {
  margin-top: 72px;
  padding: 8px;
  background: #fafafd;
  border-radius: 60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #494c57;
  width: 100%;
}

body .plans .offer .professional {
  padding: 40px 32px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#518cff),
    to(#4376db)
  );
  background: linear-gradient(180deg, #518cff 0%, #4376db 100%);
  border-radius: 12px;
  width: 297px;
}

body .plans .offer .professional .title {
  padding: 4px 12px;
  width: 102px;
  background: #f2ff57;
  border-radius: 4px;
  font-weight: 700;
  font-size: 12px;
  color: #494c57;
  margin-top: -52px !important;
}

body .plans .offer .professional .text-pro {
  margin-top: 27px;
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: #ffffff;
}

body .plans .offer .professional .price {
  margin-top: 20px;
  font-weight: 600;
  font-size: 32px;
  line-height: 160%;
  color: #ffffff;
}

body .plans .offer .professional .price .normal-text {
  font-weight: 400;
  font-size: 16px;
}

body .plans .offer .professional .benefits {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  color: #ffffff;
}

body .plans .offer .professional .features {
  margin-top: 40px;
}

body .plans .offer .professional .features .detail {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  margin-top: 20px;
}

body .plans .offer .professional .btn-free {
  margin-top: 72px;
  padding: 8px;
  color: #ffffff;
  border-radius: 60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  background: #00b67a;
  width: 100%;
}

body .font-red-hat-display {
  font-family: "Red Hat Display", sans-serif !important;
}

body .cl-light-blue {
  color: #34b3ff;
}

* {
  font-family: "Red Hat Display", sans-serif !important;
}

body .choose {
  background-color: #f9fcfc;
}

body .choose h1 {
  color: #232323;
  font-weight: 700 !important;
}

/* body .choose p {
    color: #879fb0;
} */

@media screen and (min-width: 768px) {
  body .choose h1 {
    font-size: 60px !important;
  }
}

body .cl-blue {
  color: #0f52ba !important;
}

/* Frequently Asked Questions Section
--------------------------------*/

#faq {
  padding: 60px 0;
  overflow: hidden;
}

#faq #faq-list {
  padding: 0;
  list-style: none;
}

#faq #faq-list li {
  border-bottom: 1px solid #ebebeb;
}

#faq #faq-list a {
  padding: 22px 0;
  display: block;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  padding-right: 20px;
}

#faq #faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 20px;
}

#faq #faq-list p {
  margin-bottom: 20px;
}

#faq #faq-list a.collapse {
  color: #52796f;
}

#faq #faq-list a.collapsed {
  color: #000;
}

#faq #faq-list a.collapsed i::before {
  content: "\f2c7" !important;
}
/* 
#produk h1 {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
} */

#produk h1::after {
  content: "";
  position: relative;
  display: block;
  width: 160px;
  height: 3px;
  margin-top: 8px;
  background: #18d26e;
  bottom: 0;
  left: calc(50% - 80px);
}
#produk h4::after {
  content: "";
  position: relative;
  display: block;
  width: 160px;
  height: 3px;
  margin-top: 8px;
  background: #18d26e;
  bottom: 0;
  /* left: calc(50% - 80px); */
}
.training h2::after {
  content: "";
  position: relative;
  display: block;
  width: 160px;
  height: 3px;
  margin-top: 8px;
  background: #18d26e;
  bottom: 0;
  left: calc(50% - 80px);
}

body .iklan-digital {
  background-color: #f9fcfc;
}

body .iklan-digital h1 {
  color: #232323;
  font-weight: 500 !important;
}

/* body .choose p {
    color: #879fb0;
} */

@media screen and (min-width: 768px) {
  body .iklan-digital h1 {
    font-size: 60px !important;
  }
}

body .iklan-digital h3 {
  display: inline;
  justify-content: center;
  margin-bottom: 0;
}

#faq-list a {
  text-decoration: none;
  color: #000;
}
.produk-iklan {
  align-items: center;
}

.center {
  text-align: center !important;
}
